**/.vs
/x86
/x64
/CoralReefCam/x86
/CoralReefCam/x64
/CoralReefCam/imgui.ini
/CoralReefCam/stream.h264
/CoralReefPlayer/x86
/CoralReefPlayer/x64
/live555/x86
/live555/x64
/imgui/x86
/imgui/x64
/opencv/**
!opencv/.gitkeep
